button {
  height: 30px;
  width: 180px;
  outline: none;
  background: green;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}
button[disabled] {
  background: darkgreen;
  cursor: not-allowed;
}
h1 {
  margin-bottom: 5px;
  margin-top: 5px;
}
#main {
  width: 450px;
  height: 150px;
  padding: 5px;
  margin-bottom: 10px;
}
#confirmation {
  background-color: darkblue;
  border-radius: 4px;
  color: white;
  display: none;
  font-size: 16px;
  padding: 3px;
}
