button {
  height: 30px;
  width: 180px;
  outline: none;
  background: green;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
button[disabled] {
  background: darkgreen;
  cursor: not-allowed;
}
#main {
  width:450px;
  height:450px;
}
#confirmation {
  background-color: darkblue;
  border-radius: 4px;
  color: white;
  display: none;
  font-size: 16px;
  padding: 3px;
}
